html {
  height: 100%;
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin: 0;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.photo-gallery {
  width: 100%;
  height: 100%;
}

.gallery {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 55vh;
  min-height: 20rem;
  width: 100%;
  padding-top: 5rem;
}

.round-corner {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
}

.left-half {
  display: flex;
  width: 50%;
  height: 100%;
 }

.right-half {
  display: flex;
  flex-flow: row;
  width: 50%;
  height: 100%;
  align-items: end;
}

.second-column, .third-column {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-self: flex-end;
}

.first-column {
  width: 100%;
  height: 100%;
  align-self: flex-end;
}

.photo-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.photo {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  position: relative;
  transition: all .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.photo-1 {
  border-top: 1.8px solid #000;
  border-bottom: 1.8px solid #000;
}

.photo-2, .photo-3 {
  border-bottom: 1.8px solid #000;
}

/* img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
} */

.photo:hover {
  filter: brightness(1);
  transform: scale(1.1);
}

/* .btn-container {
  position: fixed;
  display: flex;
  flex-flow: column;
  min-height: 19rem;
  height: 53vh;
  align-self: flex-end;
  margin-left: -1.8rem;
  justify-content: flex-end;
} */

.show-all {
  position: fixed;
  display: inline;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  height: 2.3rem;
  width: 7rem;
  margin-top: 50vh;
  margin-left: -2rem;
  font-size: 14px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  border-radius: 4px;
  border: 1px solid rgb(218, 218, 218);
  transition: all .1s;
  overflow: hidden;
  cursor: pointer;
  align-self: flex-end;
}

.show-all::after {
  content: "";
}

.main-header {
  display: flex;
  width: 99vw;
  justify-content: flex-end;
  padding-top: 5rem;
  margin-bottom: 1rem;
  position: fixed;
  background: transparent;
  z-index: 10;
}

.liked-container, .share-container {
  display: flex;
  margin-top: 1.8rem;
  background-color: #fff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 5.8rem;
  box-shadow: 1px 1px 3px rgb(115, 115, 115), -1px 0 3px rgb(115, 115, 115);
  transition: all .25s ease;
  cursor: pointer;
}

.liked-container {
  margin-left: 1.2rem;
}

.liked-container p, .share-container p {
  font-size: .8rem;
  color: rgb(80, 80, 80);
  font-weight: 500;
  margin-left: .5rem;
  cursor: pointer;
}

.gallery-view-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.gallery-view {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.header {
  display: flex;
  flex: 1 0;
  order: 2;
  flex-flow: column;
  height: 100%;
  margin-top: 5rem;
}

.close-btn {
  display: block;
  position: fixed;
  border: none;
  background-color: #fff;
  height: 2.2rem;
  font-weight: 300;
  width: 6rem;
  margin-left: 94vw;
  outline: none;
  cursor: pointer;
  padding: 32px;
  transform: translateX(-20px) translateY(20px);
}

.x-1, .x-2 {
  height: 2px;
  width: 35px;
  background-color: #000;
}

.x-1 {
  transform: rotate(-45deg);
  position: fixed;
}

.x-2 {
  transform: rotate(45deg);
  position: fixed;
}

.page {
  display: flex;
  width: 2rem;
  margin-top: 2rem;
  font-weight: 300;
  letter-spacing: .3rem;
  justify-content: center;
}

.mini-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}

.carousel-image {
  display: flex;
  padding: .5rem;
  cursor: pointer;
}

.carousel-image div {
  width: 5rem;
  height: 5rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.view-like-share-container {
  display: flex;
}

.view-liked, .view-share-container {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  transition: all .25s ease;
  background-color: #fff;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
}

.view-liked {
  outline: none;
  margin-left: .5rem;
}

.view-liked:hover, .view-share-container:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(244, 244, 244);
}

.photo-booth {
  display: flex;
  flex: 1 0 65%;
  order: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-photo-container {
  display: block;
}

.left-btn, .right-btn {
  background: transparent;
  border: none;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: all .25s ease;
  cursor: pointer;
  outline: none;
}

.left-1, .left-2, .right-1, .right-2 {
  height: 3px;
  width: 16px;
  background-color: #000;
}

.left-1 {
  transform: rotate(-45deg) translate(5px);
  position: relative;
}

.left-2 {
  transform: rotate(45deg) translate(5px);
  position: relative;
}

.right-1 {
  transform: rotate(45deg) translate(-5px);
  position: relative;
}

.right-2 {
  transform: rotate(-45deg) translate(-5px);
  position: relative;
}

.main-photo {
  object-fit: scale-down;
  vertical-align: bottom;
  border-radius: 12px;
  width: 60vw;
}

.view-description {
  text-align: left;
  font-weight: 300;
  letter-spacing: .1rem;
}

@media(max-width: 1128px) {
  .third-column {
    width: 0;
  }
  
  .left-half {
    flex: 1 0 50%;
  }

  .right-half {
    flex: 1 1;
  }

  .second-column {
    width: 100%;
  }

  .gallery-view {
    flex-flow: column;
  }

  .photo-booth {
    flex: 1 5 20%;
  }

  .mini-carousel {
    justify-content: flex-start;
    justify-self: center;
  }

  .header {
    margin-top: 0;
    margin-left: 20vw;
    flex: 1 0;
  }
}

@media(max-width: 928px) {
  .left-half {
    flex: 1 0 100%;
  }

  .liked-container, .share-container {
    background-color: transparent;
    border: none;
    width: 1.5rem;
    color: #fff;
    box-shadow: none;
    justify-content: center;
    font-size: 25px;
    padding-right: .5rem;
  }

  .liked-container p, .share-container p {
    visibility: hidden;
    width: 0;
    
  }

  .show-all {
    visibility: hidden;
  }
}