body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#app {
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}

.gallery {
  display: block;
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin: 1rem auto;
}

.container {
  display: flex;
  height: 35rem;
  width: 100%;
}

.round-corner {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
}

.left-half {
  display: flex;
  width: 50%;
 }

.right-half {
  display: flex;
  flex-flow: row;
  width: 50%;
}

.firstcolumn, .secondcolumn {
  margin-right: .5rem;
}

.secondcolumn, .thirdcolumn {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.firstcolumn {
  width: 100%;
}

.photo-0 {
  border-radius: 12px 0 0 12px;
}

.photo-3 {
  border-radius: 0 12px 0 0;
}

.photo-4 {
  border-radius: 0 0 12px 0;
}

.photo {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90rem;
  height: 100%;
  width: 100%;
  position: relative;
  transition: filter .5s;
}

img {
  width: 100%;
}

.photo:hover {
  filter: grayscale(100%);
}

.show-all {
  position: fixed;
  display: inline;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-top: 31.5rem;
  margin-left: 7rem;
  height: 2.25rem;
  width: 9rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid;
  transition: background-color .1s;
}

.show-all:hover {
  background-color: rgb(230, 230, 230);
}

.border {
  height: 1rem;
}
