body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 2rem auto;
}

.photo-gallery {
  max-width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 1rem auto;
}

.gallery {
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 41vh;
  width: 100%;
}

.round-corner {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
}

.left-half {
  display: flex;
  width: 50%;
 }

.right-half {
  display: flex;
  flex-flow: row;
  width: 50%;
}

.first-column, .second-column {
  margin-right: .5rem;
}

.second-column, .third-column {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.first-column {
  width: 100%;
}

.photo-0 {
  border-radius: 12px 0 0 12px;
}

.photo-3 {
  border-radius: 0 12px 0 0;
}

.photo-4 {
  border-radius: 0 0 12px 0;
}

.photo {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100%;
  width: 100%;
  position: relative;
  transition: all .5s;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

.photo:hover {
  filter: grayscale(100%);
  cursor: pointer;
}

.show-all {
  position: fixed;
  display: inline;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  align-self: center;
  height: 2.5vh;
  width: 8rem;
  margin-top: 37vh;
  margin-left: 3rem; 
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid;
  transition: all .1s;
  overflow: hidden;
}

.show-all::after {
  content: "";
}

.show-all:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.border {
  height: 1rem;
}

.liked-container {
  display: flex;
  margin-top: 2rem;
  font-size: .8rem;
  text-align: right;
  float: right;
  transition: all .25s ease;
}

.liked-container {
  cursor: pointer;
}

.liked p {
  text-decoration: underline;
  font-size: 1rem;
  margin-left: .5rem;
  letter-spacing: 1px;
}

.liked i {
  align-self: center;
}

.gallery-view-container {
  height: 100%;
}

.gallery-view {
  display: flex;
  flex-flow: column;
  height: 90%;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-right: calc(2% + 19px);
  margin-left: calc(2% + 19px);
}

.close-btn {
  display: flex;
  background-color: rgba(34, 34, 34, 0.1);
  border-radius: 8px;
  height: 2rem;
  align-items: center;
  align-self: center;
  font-weight: 300;
  width: 6rem;
  justify-content: space-evenly;
  transition: all .25s ease;
}

.close-btn:hover {
  cursor: pointer;
  background-color: rgba(16, 16, 16, 0.262)
}

.page {
  display: flex;
  width: 2rem;
  font-weight: 300;
  letter-spacing: .3rem;
  justify-content: center;
}

.view-liked {
  display: flex;
  align-items: center;
  transition: all .25s ease;
}

.view-liked:hover {
  cursor: pointer;
}

.photo-booth {
  display: flex;
  justify-content: center;
  margin-right: calc(2% + 19px);
  margin-left: calc(2% + 19px);
}

.main-photo-container {
  margin-right: calc(2% + 19px);
  margin-left: calc(2% + 19px);
  height: calc(100% - 224px);
  top: 112px;
  width: calc(100% - 192px);
}

/* .nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  margin-top: 20rem;
  margin-right: calc(2% + 19px);
  margin-left: calc(2% + 19px);
  justify-content: space-between;
} */

/* .nav-border {
  width: 5px;
} */

.left-btn, .right-btn {
  border: 1px solid rgb(174, 174, 174);
  background: rgb(255, 255, 255);
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 50%;
  transition: all .25s ease;
}

.left-btn:hover, .right-btn:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

.main-photo {
  object-fit: scale-down;
  vertical-align: bottom;
}

.view-description {
  text-align: center;
  font-weight: 300;
  letter-spacing: .1rem;
}